.title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; 

}

.title span{
   color: rgb(222, 94, 115);
}

.certs {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;

}
.words{
    margin: 0px 2px 2px 5px;
    padding: 4px;
}







