.article {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article li {
    list-style: none;
    font-size: 25px;
    margin: 5px;
}

.article p {
    font-size: 32px;
    
}